@model IEnumerable<ArchivenewDomain.Model.Date>

@{
    ViewData["Title"] = "Index";
}

<h2>Main page</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Add new teacher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtentOfMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date1)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtentOfMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date1)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.DateId })" class="btn btn-primary btn-sm">Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.DateId" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
